/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* ----------------header---------------------- */
#header{
  background-color: rgb(44, 113, 181);
  color: white;
  width: 100rem;
  text-align: center;
  height: 150px;
  display: flex;
  justify-content: center;
  place-items: center;
}

.navigbar{
  background-color: #1e293b;
}

.abc{
  color: #e2e8f0;
  font-weight: bold;
}

.navbar{
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  gap: 20px; /* Space between each item */
  margin: auto;
}

/* ---------------------overview----------------------------  */
.contain{
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  
}
.main{
  background-color: #1e293b;
   color: #e2e8f0;
   margin-top: 32px;
   width: 950px;
   padding: 33px;
   border-radius: 10px;
   /* text-align: justify; */
}

#title{
  color: #a5b4fc;
  padding-top: 32px;
}

.main .api{
  width: 100%;
  border: 1px solid #334155;
  border-radius:  4px;
  
}
.api-key{
  padding: 16px;
  border: 1px solid #334155;
  border-radius:  4px;
  margin: 1px;
}
.main button{
  margin-top: 16px;
  background-color: #22d3ee;
  padding: 12px 24px;
  color: #0f172a;
  font-weight: bold;
}

.api-button{
  width: 100%;
  border: 1px solid #334155;
  border-radius:  4px;
  padding: 16px;
  margin-top: 16px;
}

.table-border {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden; 
  border: 1px solid #334155;
}

.table-border thead th {
  border-bottom: 1px solid #334155; 
  padding: 16px;
  background-color: #6366f1;
  color: #ffffff;
}

.table-border tbody tr {
  border-bottom: 1px solid #334155; 
}

.table-border tbody tr:last-child {
  border-bottom: 1px solid #334155; 
}

.table-border tbody td{
  padding: 16px;
  color: #e2e8f0;
  background-color: #1e293b;
}

.first-col{
  color: #22d3ee;
}

/* ---------------------overview----------------------------  */

